# ESP32-PlatformIO
.vscode

esp/.pio
esp/.vscode/.browse.c_cpp.db*
esp/.vscode/c_cpp_properties.json
esp/.vscode/launch.json
esp/.vscode/ipch
esp/include/secrets.h
esp/test/README
esp/logs
# Ini muncul terus tiap config `platformio.ini`
esp/.gitignore

# Manual SIM7600G
# Bayar
MODULE-SIM7600G

# Website
backend/node_modules
backend/uploads
backend/.env
